*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



body{
    line-height: 1.4;
    letter-spacing: 1px;
    font-family: 'Work Sans', sans-serif;
    text-transform: capitalize;
    --light-sky:skyblue;
    --black-color: #000;
    --white-color: #fff;
    --orange-color: #ffa800;
    --background-color: #f6f6f8;
}


.fa-bars{
    display: none;
}

.row{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1070px;
}


h1{
  font-size: 65px;
}

p{
  text-transform: none;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

span{
  color: var(--orange-color);
  font-size: 70px;
}


.active{
  padding: 10px 15px;
  border: 1px solid var(--black-color);
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
}

.btn{
  text-transform: capitalize;
  border: 0;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
}

.grid-2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.grid-4{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.flex-center{
  display: flex;
  justify-content: center;
}


.header{
  position: relative;
  height: 100vh;

    .nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 100px;
      height: 8vh;
      box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,.1);
        
        .logo{
          font-size: 27px;
          font-weight: 700;
        }

        ul a{
          margin: 0 10px;
          color: var(--black-color);
          padding: 10px 15px;
          border: 1px solid var(--white-color);
          transition: 200ms all ease-in-out;
          -webkit-transition: 200ms all ease-in-out;
          -moz-transition: 200ms all ease-in-out;
          -ms-transition: 200ms all ease-in-out;
          -o-transition: 200ms all ease-in-out;
            
          &:hover{
              border: 1px solid var(--black-color);
              border-radius: 13px;
              -webkit-border-radius: 13px;
              -moz-border-radius: 13px;
              -ms-border-radius: 13px;
              -o-border-radius: 13px;
           }
        }

        .top_icons i{
          margin: 0 10px;
          font-size: 25px;
          font-weight: 700;
          cursor: pointer;

            &:hover{
              color: var(--light-sky);
            }
        }


    }

    .sale-testimonials-container  {
      overflow: hidden;
      color: var(--secondary-color);
      padding: 50px 200px;
      height: 92vh;
      background-color: #f6f6f8;

          .sale-testimonial-item {
              
              font-size: .95rem;
              align-items: center;
              margin: 2em 0;
              padding: 0 1em;
              color: var(--second-color);

                .colletion{
                  float:left;
                  border-left: 5px solid var(--orange-color);
                  margin-right: 40px;
                  padding-left: 30px;

                  width:550px;

                   p{
                     font-size: 20px;
                     text-transform: uppercase;
                   }

                   a button{
                     background: var(--black-color);
                     font-size: 17px;
                     border: 1px solid var(--black-color);
                     color: var(--white-color);
                     transition: 200ms background ;
                     -webkit-transition: 200ms background ;
                     -moz-transition: 200ms background ;
                     -ms-transition: 200ms background ;
                     -o-transition: 200ms background ;
                     
                       &:hover{
                          background: #f6f6f8;
                          color: var(--black-color);
                          border: 1px solid var(--black-color)
                     }
                   }
                }

                img{

                  max-width: 350px;
                  width: 100%;
                }
          }
    }

    .testimonial-switchs{
      position: absolute;
      top: 300px;
      right: 100px;
      display: grid;
      grid-template-columns: repeat(1, 1fr);

        .sale-testimonial-switch {
          background-color: #000;
          border: none;        
          cursor: pointer;
          height: 1.4rem;
          margin: .4rem .2rem;
          outline: none;
          width: .3rem;
        }
        
        .active-carousel-switch {
          transform: scale(1.7);
          -webkit-transform: scale(1.7);
          -moz-transform: scale(1.7);
          -ms-transform: scale(1.7);
          -o-transform: scale(1.7);
        }
    }

}

.offer-sells{
  padding: 50px 0;

    .box-1{
      padding: 20px;
      background-color: var(--background-color);


      .contents{
        margin-top: 12%;
        margin-left: 50px;

        .btn{
          background-color: var(--black-color);
          color: var(--white-color);
          font-size: 17px;
          margin-top: 20px;
          border-radius: 100px;
          transition: 200ms all ease-in-out;
          -webkit-transition: 200ms all ease-in-out;
          -moz-transition: 200ms all ease-in-out;
          -ms-transition: 200ms all ease-in-out;
          -o-transition: 200ms all ease-in-out;
          border: 1px solid var(--black-color);
          -webkit-border-radius: 100px;
          -moz-border-radius: 100px;
          -ms-border-radius: 100px;
          -o-border-radius: 100px;
          &:hover{
            background: transparent;
            color: var(--black-color);
            border: 1px solid var(--black-color)
          }
        }
        
        p{
          font-size: 15px;
          opacity: .5;
        }

        h2{
          font-size: 30px;
        }
      }

      img{
        width: 35%;
      }
  }
}

.tranding{
  padding: 50px 0;

  .heading{
    text-align: center;
    position: relative;
    background: var(--white-color)  ;

    &::after{
      content: " ";
      display: block;
      background: var(--black-color);
      width: 10%;
      height: 2px;
      position: absolute;
      left: 45%;
      bottom: 40%;
    }

    h2{
      font-size: 30px;
    }

    p{
      font-size: 18px;
      font-style: italic;
      opacity: .7;
      font-family: serif;
      margin-top: 10px;
    }
  }

  .main-carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    #wrapper {
      width: 100%;
      max-width: 1164px;
      position: relative;
      margin-top: 50px;


      #carousel {
        overflow: auto;
        scroll-behavior: smooth;
        overflow-x: hidden;

        #content {
          display: grid;
          grid-gap: 16px;
          grid-auto-flow: column;
          height: 450px;
          margin: auto;
          box-sizing: border-box;


          .item{
            width: 253px;
            height: 440px;
            border: 1px solid rgb(236, 234, 234);
            box-shadow: 2px 2px 12px rgba(0,0,0,0.2);

            img{
              height: 250px;
              padding-left: 35px;
              margin-top: 10px;
            }

            .m-container{
              margin-top: 20px;
              padding-left: 10px;


              .m-content{
                img{
                  width: 100px;
                  height: 25px;
                  margin: 5px 0;
                  padding-left: 0;
                }
                h2{
                  font-size: 20px;
                  margin-right: 10px;
                  text-transform: uppercase;
                }

                .price{
                  display: flex;
                  font-size: 18px;

                  p{
                    opacity: .6;
                    border-right: 2px solid var(--black-color);
                    padding-right: 10px;
                  }

                  span{
                    font-size: inherit;
                    margin-left: 15px;
                    text-decoration: line-through;

                    p{
                      opacity: 1;
                      border-right: none;

                    }
                  }
                }

                .btn{
                  background: var(--black-color);
                  color: var(--white-color);
                  margin-top: 10px;
                  transition: all 200ms ease-in-out;
                  -webkit-transition: all 200ms ease-in-out;
                  -moz-transition: all 200ms ease-in-out;
                  -ms-transition: all 200ms ease-in-out;
                  -o-transition: all 200ms ease-in-out;

                  &:hover{
                    background: transparent;
                    color: var(--black-color);
                    border: 1px solid var(--black-color)
                  }
                }

              }
            }
          } 
        }
      }

      &::-webkit-scrollbar {
        height: 0;
      }
    }

    
      #prev,
      #next {
        display: flex;
        justify-content: center;
        align-content: center;
        background:transparent;
        border: none;
        padding: 10px 0; 
        border-radius: 50%;
        font-size: 50px;
        outline: 0;
        cursor: pointer;
        position: absolute;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;

   
    }

      #prev {
        top: 50%;
        left: 0;
        transform: translate(50%, -50%);
        display: none;

        &:hover{
          padding-right: 10px;
      }
      }

      #next {
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
        &:hover{
          padding-left: 10px;
      }
      }

  }
}

.bestsell{
  padding: 50px 0;

  .heading{
    text-align: center;
    position: relative;
    background: var(--white-color)  ;

    &::after{
      content: " ";
      display: block;
      background: var(--black-color);
      width: 10%;
      height: 2px;
      position: absolute;
      left: 45%;
      bottom: 40%;
    }

    h2{
      font-size: 30px;
    }

    p{
      font-size: 18px;
      font-style: italic;
      opacity: .7;
      font-family: serif;
      margin-top: 10px;
    }
  }

  .box{

    .img{
      background: url('./images/products/sumsung/samsung5.jpeg') no-repeat center center / cover;
      height: 300px;
    }
  }

}




