*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



body{
    line-height: 1.4;
    letter-spacing: 1px;
    font-family: 'Work Sans', sans-serif;
    text-transform: capitalize;
    --light-sky:skyblue;
    --black-color: #000;
    --white-color: #fff;
    --orange-color: #ffa800;;
}


.fa-bars{
    display: none;
}

.row{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1070px;
}


h1{
  font-size: 65px;
}

p{
  text-transform: none;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

span{
  color: var(--orange-color);
  font-size: 70px;
}


.active{
  padding: 10px 15px;
  border: 1px solid var(--black-color);
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
}

.btn{
  text-transform: capitalize;
  border: 0;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
}

.grid-2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.header{
  position: relative;
  height: 100vh;

    .nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #f6f6f8;;
      padding: 10px 100px;
      height: 8vh;
      box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,.1);
        
        .logo{
          font-size: 27px;
          font-weight: 700;
        }

        ul a{
          margin: 0 10px;
          color: var(--black-color);
          padding: 10px 15px;
          transition: 200ms all ease-in-out;
          -webkit-transition: 200ms all ease-in-out;
          -moz-transition: 200ms all ease-in-out;
          -ms-transition: 200ms all ease-in-out;
          -o-transition: 200ms all ease-in-out;
            
          &:hover{
              border: 1px solid var(--black-color);
              border-radius: 13px;
              -webkit-border-radius: 13px;
              -moz-border-radius: 13px;
              -ms-border-radius: 13px;
              -o-border-radius: 13px;
           }
        }

        .top_icons i{
          margin: 0 10px;
          font-size: 25px;
          font-weight: 700;
          cursor: pointer;

            &:hover{
              color: var(--light-sky);
            }
        }


    }

    .sale-testimonials-container  {
      overflow: hidden;
      color: var(--secondary-color);
      padding: 50px 200px;
      height: 92vh;
          .sale-testimonial-item {
              
              font-size: .95rem;
              align-items: center;
              margin: 2em 0;
              padding: 0 1em;
              color: var(--second-color);

                .colletion{
                  float:left;
                  border-left: 5px solid var(--orange-color);
                  margin-right: 40px;
                  padding-left: 30px;

                  width:550px;

                   p{
                     font-size: 20px;
                     text-transform: uppercase;
                   }

                   a button{
                     background: var(--black-color);
                     font-size: 17px;
                     border: 1px solid var(--black-color);
                     color: var(--white-color);
                     transition: 200ms background ;
                     -webkit-transition: 200ms background ;
                     -moz-transition: 200ms background ;
                     -ms-transition: 200ms background ;
                     -o-transition: 200ms background ;
                     
                       &:hover{
                          background: var(--white-color);
                          color: var(--black-color);
                          border: 1px solid var(--black-color)
                     }
                   }
                }

                img{

                  max-width: 350px;
                  width: 100%;
                }
          }
    }

    .testimonial-switchs{
      position: absolute;
      top: 300px;
      right: 100px;
      display: grid;
      grid-template-columns: repeat(1, 1fr);

        .sale-testimonial-switch {
          background-color: #000;
          border: none;        
          cursor: pointer;
          height: 1.4rem;
          margin: .4rem .2rem;
          outline: none;
          width: .3rem;
        }
        
        .active-carousel-switch {
          transform: scale(1.7);
          -webkit-transform: scale(1.7);
          -moz-transform: scale(1.7);
          -ms-transform: scale(1.7);
          -o-transform: scale(1.7);
        }
    }

}

.topsells{
  padding: 50px 0;

   .grid-2 .box-1{
     background: url('/images/news4.jpg');
   }
}


