* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  line-height: 1.4;
  letter-spacing: 1px;
  font-family: 'Work Sans', sans-serif;
  text-transform: capitalize; }

.fa-bars {
  display: none; }

h1 {
  font-size: 65px; }

p {
  text-transform: none; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.btn {
  text-transform: capitalize;
  border: 0;
  outline: none;
  padding: 10px 15px;
  cursor: pointer; }

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.header {
  position: relative;
  height: 100vh; }
  .header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f6f8;
    padding: 10px 30px;
    height: 8vh; }
  .header .sale-testimonials-container {
    overflow: hidden;
    color: var(--secondary-color);
    padding: 100px 200px;
    height: 92vh; }
    .header .sale-testimonials-container .sale-testimonial-item {
      border-left: 5px solid var(--orange-color);
      font-size: .95rem;
      align-items: center;
      margin: 2em 0;
      padding: 0 1em;
      color: var(--second-color); }
      .header .sale-testimonials-container .sale-testimonial-item .colletion {
        float: left;
        margin-right: 70px;
        width: 550px; }
        .header .sale-testimonials-container .sale-testimonial-item .colletion p {
          font-size: 20px;
          text-transform: uppercase; }
  .header .testimonial-switchs {
    position: absolute;
    top: 200px;
    right: 100px;
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
    .header .testimonial-switchs .sale-testimonial-switch {
      background-color: #000;
      border: none;
      cursor: pointer;
      height: 1.4rem;
      margin: .4rem .2rem;
      outline: none;
      width: .3rem; }
    .header .testimonial-switchs .active-carousel-switch {
      transform: scale(1.7);
      -webkit-transform: scale(1.7);
      -moz-transform: scale(1.7);
      -ms-transform: scale(1.7);
      -o-transform: scale(1.7); }
