* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  line-height: 1.5;
  letter-spacing: 1px;
  font-family: 'Work Sans', sans-serif;
  text-transform: capitalize;
  --black-color: #252525;
  --white-color: #fff;
  --orange-color: #ffa800;
  --background-color: #f6f6f8; }

.fa-bars {
  display: none; }

.row {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1070px; }

h1 {
  font-size: 65px; }

p {
  text-transform: none; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: var(--black-color); }

span {
  color: var(--orange-color);
  font-size: 70px; }

.active {
  padding: 10px 15px;
  border: 1px solid var(--black-color);
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px; }

.btn {
  text-transform: capitalize;
  border: 0;
  outline: none;
  padding: 10px 20px;
  cursor: pointer; }

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px; }

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px; }

.flex-center {
  display: flex;
  justify-content: center; }

.header {
  position: relative;
  height: 100vh; }
  .header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 10px 100px;
    height: 8vh;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    z-index: 10;
    background-color: var(--white-color); }
    .header .nav .logo {
      font-size: 27px;
      font-weight: 700;
      color: var(--orange-color); }
    .header .nav ul a {
      margin: 0 10px;
      color: var(--black-color);
      padding: 10px 15px;
      border: 1px solid var(--white-color);
      transition: 200ms all ease-in-out;
      -webkit-transition: 200ms all ease-in-out;
      -moz-transition: 200ms all ease-in-out;
      -ms-transition: 200ms all ease-in-out;
      -o-transition: 200ms all ease-in-out; }
      .header .nav ul a:hover {
        border: 1px solid var(--orange-color);
        border-radius: 13px;
        color: var(--orange-color);
        -webkit-border-radius: 13px;
        -moz-border-radius: 13px;
        -ms-border-radius: 13px;
        -o-border-radius: 13px; }
    .header .nav .top_icons i {
      margin: 0 10px;
      font-size: 25px;
      font-weight: 700;
      cursor: pointer;
      outline: none; }
      .header .nav .top_icons i:hover {
        color: var(--orange-color); }
  .header .sale-testimonials-container {
    overflow: hidden;
    color: var(--secondary-color);
    padding: 50px 200px;
    height: 100vh;
    background-color: #f6f6f8; }
    .header .sale-testimonials-container .sale-testimonial-item {
      font-size: .95rem;
      align-items: center;
      margin: 2em 0;
      margin-top: 70px;
      padding: 0 1em;
      color: var(--second-color); }
      .header .sale-testimonials-container .sale-testimonial-item .colletion {
        float: left;
        border-left: 5px solid var(--orange-color);
        margin-right: 40px;
        padding-left: 30px;
        width: 550px; }
        .header .sale-testimonials-container .sale-testimonial-item .colletion p {
          font-size: 20px;
          text-transform: uppercase; }
        .header .sale-testimonials-container .sale-testimonial-item .colletion a button {
          background: var(--black-color);
          font-size: 17px;
          border: 1px solid var(--black-color);
          color: var(--white-color);
          transition: 200ms background;
          -webkit-transition: 200ms background;
          -moz-transition: 200ms background;
          -ms-transition: 200ms background;
          -o-transition: 200ms background; }
          .header .sale-testimonials-container .sale-testimonial-item .colletion a button:hover {
            background: #f6f6f8;
            color: var(--black-color);
            border: 1px solid var(--black-color); }
      .header .sale-testimonials-container .sale-testimonial-item img {
        max-width: 350px;
        width: 100%; }
  .header .testimonial-switchs {
    position: absolute;
    top: 300px;
    right: 100px;
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
    .header .testimonial-switchs .sale-testimonial-switch {
      background-color: #000;
      border: none;
      cursor: pointer;
      height: 1.7rem;
      margin: .3rem .2rem;
      outline: none;
      width: .2rem; }
    .header .testimonial-switchs .active-carousel-switch {
      transform: scale(1.4);
      width: .25rem;
      -webkit-transform: scale(1.4);
      -moz-transform: scale(1.4);
      -ms-transform: scale(1.4);
      -o-transform: scale(1.4); }

.offer-sells {
  padding: 50px 0; }
  .offer-sells .box-1 {
    padding: 20px;
    background-color: var(--background-color); }
    .offer-sells .box-1 .contents {
      margin-top: 12%;
      margin-left: 50px; }
      .offer-sells .box-1 .contents .btn {
        background-color: var(--black-color);
        color: var(--white-color);
        font-size: 17px;
        margin-top: 20px;
        border-radius: 100px;
        transition: 200ms all ease-in-out;
        -webkit-transition: 200ms all ease-in-out;
        -moz-transition: 200ms all ease-in-out;
        -ms-transition: 200ms all ease-in-out;
        -o-transition: 200ms all ease-in-out;
        border: 1px solid var(--black-color);
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px; }
        .offer-sells .box-1 .contents .btn:hover {
          background: transparent;
          color: var(--black-color);
          border: 1px solid var(--black-color); }
      .offer-sells .box-1 .contents p {
        font-size: 15px;
        opacity: .5; }
      .offer-sells .box-1 .contents h2 {
        font-size: 30px; }
    .offer-sells .box-1 img {
      width: 35%; }

.tranding {
  padding-top: 50px; }
  .tranding .heading {
    text-align: center;
    position: relative;
    background: var(--white-color); }
    .tranding .heading::after {
      content: " ";
      display: block;
      background: var(--black-color);
      width: 10%;
      height: 2px;
      position: absolute;
      left: 45%;
      bottom: 40%; }
    .tranding .heading h2 {
      font-size: 30px; }
    .tranding .heading p {
      font-size: 18px;
      font-style: italic;
      opacity: .7;
      font-family: serif;
      margin-top: 10px; }
  .tranding .main-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .tranding .main-carousel #wrapper {
      width: 100%;
      max-width: 1164px;
      position: relative;
      margin-top: 50px; }
      .tranding .main-carousel #wrapper #carousel {
        overflow: auto;
        scroll-behavior: smooth;
        overflow-x: hidden; }
        .tranding .main-carousel #wrapper #carousel #content {
          display: grid;
          grid-gap: 16px;
          grid-auto-flow: column;
          height: 450px;
          margin: auto;
          box-sizing: border-box; }
          .tranding .main-carousel #wrapper #carousel #content .item {
            width: 253px;
            height: 440px;
            border: 1px solid #eceaea;
            box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1); }
            .tranding .main-carousel #wrapper #carousel #content .item img {
              height: 250px;
              padding-left: 35px;
              margin-top: 10px; }
            .tranding .main-carousel #wrapper #carousel #content .item .m-container {
              margin-top: 20px;
              padding-left: 10px; }
              .tranding .main-carousel #wrapper #carousel #content .item .m-container .m-content img {
                width: 100px;
                height: 22px;
                margin: 5px 0;
                padding-left: 0; }
              .tranding .main-carousel #wrapper #carousel #content .item .m-container .m-content h2 {
                font-size: 20px;
                margin-right: 10px;
                text-transform: uppercase; }
              .tranding .main-carousel #wrapper #carousel #content .item .m-container .m-content .price {
                display: flex;
                font-size: 16px; }
                .tranding .main-carousel #wrapper #carousel #content .item .m-container .m-content .price p {
                  opacity: .6;
                  border-right: 2px solid var(--black-color);
                  padding-right: 10px; }
                .tranding .main-carousel #wrapper #carousel #content .item .m-container .m-content .price span {
                  font-size: inherit;
                  margin-left: 15px;
                  text-decoration: line-through; }
                  .tranding .main-carousel #wrapper #carousel #content .item .m-container .m-content .price span p {
                    opacity: 1;
                    border-right: none; }
              .tranding .main-carousel #wrapper #carousel #content .item .m-container .m-content .btn {
                background: var(--black-color);
                color: var(--white-color);
                margin-top: 10px;
                transition: all 200ms ease-in-out;
                -webkit-transition: all 200ms ease-in-out;
                -moz-transition: all 200ms ease-in-out;
                -ms-transition: all 200ms ease-in-out;
                -o-transition: all 200ms ease-in-out; }
                .tranding .main-carousel #wrapper #carousel #content .item .m-container .m-content .btn:hover {
                  background: transparent;
                  color: var(--black-color);
                  border: 1px solid var(--black-color); }
      .tranding .main-carousel #wrapper::-webkit-scrollbar {
        height: 0; }
    .tranding .main-carousel #prev,
    .tranding .main-carousel #next {
      display: flex;
      justify-content: center;
      align-content: center;
      background: transparent;
      border: none;
      padding: 10px 0;
      border-radius: 50%;
      font-size: 50px;
      outline: 0;
      cursor: pointer;
      position: absolute;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%; }
    .tranding .main-carousel #prev {
      top: 50%;
      left: 0;
      transform: translate(50%, -50%);
      display: none; }
      .tranding .main-carousel #prev:hover {
        padding-right: 10px; }
    .tranding .main-carousel #next {
      top: 50%;
      right: 0;
      transform: translate(-50%, -50%); }
      .tranding .main-carousel #next:hover {
        padding-left: 10px; }

.bestsell {
  padding: 50px 0; }
  .bestsell .heading {
    text-align: center;
    position: relative;
    background: var(--white-color); }
    .bestsell .heading::after {
      content: " ";
      display: block;
      background: var(--black-color);
      width: 10%;
      height: 2px;
      position: absolute;
      left: 45%;
      bottom: 40%; }
    .bestsell .heading h2 {
      font-size: 30px; }
    .bestsell .heading p {
      font-size: 18px;
      font-style: italic;
      opacity: .7;
      font-family: serif;
      margin-top: 10px; }
  .bestsell .best-container {
    margin-top: 50px; }
  .bestsell .box {
    position: relative;
    width: 150px;
    margin: 7px 0; }
    .bestsell .box img {
      width: 145%;
      height: 270px;
      margin: 0 auto; }
    .bestsell .box h2 {
      font-size: 18px;
      font-weight: 500;
      margin-top: 10px; }
    .bestsell .box .price {
      display: flex; }
      .bestsell .box .price span {
        font-size: inherit;
        margin-left: 10px;
        text-decoration: line-through; }
    .bestsell .box .img-content {
      position: absolute;
      top: 7%;
      width: 75%;
      left: 50px;
      opacity: 0;
      transition: 400ms opacity;
      -webkit-transition: 400ms opacity;
      -moz-transition: 400ms opacity;
      -ms-transition: 400ms opacity;
      -o-transition: 400ms opacity; }
      .bestsell .box .img-content:hover {
        opacity: 1; }
      .bestsell .box .img-content i {
        color: var(--orange-color);
        font-size: 20px;
        margin-bottom: 50px;
        cursor: pointer; }
        .bestsell .box .img-content i:hover {
          color: red; }
      .bestsell .box .img-content p {
        background: var(--black-color);
        color: var(--white-color);
        padding: 8px 12px;
        font-size: 13px;
        margin: 10px 0;
        text-transform: capitalize;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px; }
        .bestsell .box .img-content p:hover {
          color: var(--white-color);
          background: var(--orange-color); }

/*-------- test ------------*/
.test {
  padding: 40px 0;
  position: relative;
  background: var(--black-color); }
  .test .main-test div {
    text-align: center; }
  .test .main-test .client-testimonials-container {
    overflow: hidden;
    color: var(--white-color);
    padding: 0 100px;
    text-align: center; }
    .test .main-test .client-testimonials-container .client-testimonial-item {
      border-left: 5px solid var(--orange-color);
      font-size: 14px;
      padding-top: 50px;
      margin: 2em 0;
      padding: 1em;
      color: var(--white-color); }
      .test .main-test .client-testimonials-container .client-testimonial-item q {
        opacity: .8; }
      .test .main-test .client-testimonials-container .client-testimonial-item .client-details {
        display: flex;
        align-items: center;
        margin-top: 30px;
        text-align: left; }
        .test .main-test .client-testimonials-container .client-testimonial-item .client-details h2 {
          font-size: 20px; }
        .test .main-test .client-testimonials-container .client-testimonial-item .client-details img {
          width: 10%;
          margin-right: 20px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%; }
        .test .main-test .client-testimonials-container .client-testimonial-item .client-details .client-name {
          font-size: 1.3rem; }
  .test .main-test .client-testimonial-switch {
    background-color: var(--orange-color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: .6rem;
    margin: 0 .2rem;
    outline: none;
    width: .6rem; }
  .test .main-test .active-carousel-switch {
    transform: scale(1.5); }

.blog-container {
  padding: 80px 0; }
  .blog-container .heading {
    text-align: center;
    position: relative;
    background: var(--white-color); }
    .blog-container .heading::after {
      content: " ";
      display: block;
      background: var(--black-color);
      width: 15%;
      height: 2px;
      position: absolute;
      left: 43%;
      bottom: 40%; }
    .blog-container .heading h2 {
      font-size: 30px; }
    .blog-container .heading p {
      font-size: 18px;
      font-style: italic;
      opacity: .7;
      font-family: serif;
      margin-top: 10px; }
  .blog-container .grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
    grid-gap: 30px; }
    .blog-container .grid-3 .box {
      overflow: hidden; }
      .blog-container .grid-3 .box img {
        width: 100%;
        transition: 900ms;
        cursor: pointer;
        -webkit-transition: 900ms;
        -moz-transition: 900ms;
        -ms-transition: 900ms;
        -o-transition: 900ms; }
        .blog-container .grid-3 .box img:hover {
          transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -ms-transform: scale(1.1);
          -o-transform: scale(1.1); }
      .blog-container .grid-3 .box .b-contents {
        padding: 10px 5px;
        background: var(--white-color); }
        .blog-container .grid-3 .box .b-contents h2 {
          font-size: 20px; }
        .blog-container .grid-3 .box .b-contents .fix-b {
          font-weight: 500;
          margin: 10px 0; }
        .blog-container .grid-3 .box .b-contents p {
          font-size: 16px;
          font-weight: 300; }
        .blog-container .grid-3 .box .b-contents .btn {
          font-size: 15px;
          margin-top: 10px;
          background-color: var(--white-color);
          border: 1px solid var(--black-color);
          transition: 200ms background;
          -webkit-transition: 200ms background;
          -moz-transition: 200ms background;
          -ms-transition: 200ms background;
          -o-transition: 200ms background; }
          .blog-container .grid-3 .box .b-contents .btn:hover {
            background-color: var(--black-color);
            color: var(--white-color); }

.sub {
  border-top: 1px solid #e7e7e7; }
  .sub .row {
    padding: 50px 0;
    display: flex; }
    .sub .row h2 {
      font-size: 30px; }
    .sub .row p {
      margin-top: 7px;
      font-size: 14px;
      font-weight: 300; }
  .sub .form {
    margin-left: 50px;
    margin-top: 15px; }
    .sub .form input[type=text] {
      padding: 15px 20px;
      width: 410px;
      background: var(--background-color);
      border: none;
      font-size: 15px;
      outline: none; }
    .sub .form .btn {
      background: var(--black-color);
      color: var(--white-color);
      padding: 15px 10px;
      margin-left: -10px; }

/*-------- footer ------------*/
.main-footer {
  padding: 100px 0;
  background: var(--black-color);
  color: var(--white-color);
  border-radius: 0 150px 0 0;
  -webkit-border-radius: 0 150px 0 0;
  -moz-border-radius: 0 150px 0 0;
  -ms-border-radius: 0 150px 0 0;
  -o-border-radius: 0 150px 0 0; }
  .main-footer .footer {
    width: 100%;
    position: relative;
    height: auto;
    padding-bottom: 30px;
    border-bottom: #505050 1px solid;
    margin-bottom: 20px; }
    .main-footer .footer .contain {
      display: flex; }
      .main-footer .footer .contain h2 {
        color: var(--orange-color);
        font-size: 30px;
        font-weight: 500; }
      .main-footer .footer .contain p {
        color: #999999;
        font-size: 15px;
        margin-top: 5px; }
      .main-footer .footer .contain .col {
        width: 200px;
        height: auto;
        float: left;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        padding: 0px 20px 20px 20px; }
      .main-footer .footer .contain ul {
        list-style-type: none;
        margin: 0;
        padding: 0; }
        .main-footer .footer .contain ul li {
          color: #999999;
          font-size: 14px;
          font-family: inherit;
          font-weight: 500;
          padding: 5px 0px 5px 0px;
          cursor: pointer;
          transition: .2s;
          -webkit-transition: .2s;
          -moz-transition: .2s; }
          .main-footer .footer .contain ul li:hover {
            color: var(--orange-color); }
          .main-footer .footer .contain ul li a {
            color: #999999; }
            .main-footer .footer .contain ul li a:hover {
              color: var(--orange-color); }
      .main-footer .footer .contain .social {
        width: 50%; }
        .main-footer .footer .contain .social .fab {
          font-size: 30px;
          margin: 20px 5px;
          border: var(--orange-color) dotted 1px;
          padding: 8px 15px;
          transition: 300ms;
          border-radius: 10px;
          color: var(--orange-color);
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
          -webkit-transition: 300ms;
          -moz-transition: 300ms;
          -ms-transition: 300ms;
          -o-transition: 300ms; }
          .main-footer .footer .contain .social .fab:hover {
            background-color: var(--orange-color);
            color: var(--white-color); }
          .main-footer .footer .contain .social .fab .social ul li {
            display: inline-block;
            padding-right: 5px !important; }
            .main-footer .footer .contain .social .fab .social ul li:hover {
              color: var(--orange-color);
              transition: .1s;
              -webkit-transition: .1s;
              -moz-transition: .1s; }
    .main-footer .footer .clearfix {
      clear: both; }
  .main-footer .copy {
    text-align: center;
    color: #999; }
    .main-footer .copy a {
      font-weight: 500;
      color: var(--orange-color);
      font-size: 20px; }
      .main-footer .copy a:hover {
        color: var(--white-color); }

/* Other Pages */
.checklist .header {
  height: 10vh; }

.checklist .container {
  margin: 80px auto;
  display: flex; }
  .checklist .container .main-slide {
    display: flex;
    width: 40%; }
    .checklist .container .main-slide .mySlides {
      display: none;
      width: 80%; }
      .checklist .container .main-slide .mySlides img {
        width: 100%;
        padding: 0;
        margin-bottom: -6px; }
    .checklist .container .main-slide .show {
      display: block; }
    .checklist .container .main-slide .cursor {
      cursor: pointer; }
    .checklist .container .main-slide #thumbnail-section {
      width: 20%;
      margin-top: 30px;
      /* Add a opaque effect for thumnbail images */ }
      .checklist .container .main-slide #thumbnail-section img {
        width: 80%;
        border: 1px solid #999;
        padding: 5px 10px;
        margin: 0; }
      .checklist .container .main-slide #thumbnail-section .demo {
        opacity: 0.6;
        transition: .5s; }
        .checklist .container .main-slide #thumbnail-section .demo:hover {
          opacity: 1; }
  .checklist .container .details-check {
    width: 55%;
    padding: 10px 0;
    padding-left: 50px; }
    .checklist .container .details-check p {
      font-size: 15px;
      opacity: .6; }
    .checklist .container .details-check h2 {
      font-weight: 500;
      font-size: 30px; }
    .checklist .container .details-check .price {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
      padding-bottom: 10px;
      border-bottom: solid 1px #e7e7e7; }
      .checklist .container .details-check .price p {
        font-size: 27px;
        opacity: .6; }
      .checklist .container .details-check .price .reviews {
        display: flex;
        justify-content: space-evenly;
        align-items: center; }
        .checklist .container .details-check .price .reviews p {
          font-size: 17px;
          opacity: .6; }
        .checklist .container .details-check .price .reviews img {
          width: 100px;
          margin-right: 15px; }
    .checklist .container .details-check .color {
      margin-top: 15px; }
      .checklist .container .details-check .color h2 {
        font-size: 25px; }
      .checklist .container .details-check .color .co {
        display: flex;
        margin-top: 5px; }
        .checklist .container .details-check .color .co .active {
          background: #000;
          border-radius: 70px;
          color: var(--white-color);
          -webkit-border-radius: 70px;
          -moz-border-radius: 70px;
          -ms-border-radius: 70px;
          -o-border-radius: 70px; }
        .checklist .container .details-check .color .co p {
          margin: 0 4px;
          opacity: 1;
          font-size: 13px;
          border: 1px solid #ccc;
          padding: 10px 12px;
          border-radius: 70px;
          -webkit-border-radius: 70px;
          -moz-border-radius: 70px;
          -ms-border-radius: 70px;
          -o-border-radius: 70px;
          cursor: pointer;
          transition: 200ms all ease-in;
          -webkit-transition: 200ms all ease-in;
          -moz-transition: 200ms all ease-in;
          -ms-transition: 200ms all ease-in;
          -o-transition: 200ms all ease-in; }
          .checklist .container .details-check .color .co p:hover {
            background: #000;
            color: var(--white-color); }
    .checklist .container .details-check .form-input {
      margin-top: 40px;
      display: flex; }
      .checklist .container .details-check .form-input .box input[type=number] {
        outline: none;
        width: 80px;
        padding: 12px 0;
        padding-left: 30px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px; }
        .checklist .container .details-check .form-input .box input[type=number]::-webkit-inner-spin-button {
          -webkit-appearance: none; }
      .checklist .container .details-check .form-input .box-2 {
        margin: 0 15px;
        cursor: pointer; }
        .checklist .container .details-check .form-input .box-2 p {
          padding: 10px 25px;
          opacity: 1;
          font-weight: 700;
          font-size: 14px;
          color: var(--white-color);
          background-color: var(--orange-color);
          border-radius: 50px;
          -webkit-border-radius: 50px;
          -moz-border-radius: 50px;
          -ms-border-radius: 50px;
          -o-border-radius: 50px; }
          .checklist .container .details-check .form-input .box-2 p:hover {
            background-color: var(--black-color);
            color: var(--white-color); }
      .checklist .container .details-check .form-input .box-3 {
        cursor: pointer; }
        .checklist .container .details-check .form-input .box-3 i {
          width: 50px;
          padding: 11px 0;
          padding-left: 16px;
          border: 1px solid #000;
          border-radius: 50px;
          -webkit-border-radius: 50px;
          -moz-border-radius: 50px;
          -ms-border-radius: 50px;
          -o-border-radius: 50px; }
          .checklist .container .details-check .form-input .box-3 i:hover {
            background-color: red;
            color: var(--white-color);
            border: none; }
    .checklist .container .details-check .details {
      display: flex;
      margin-top: 20px; }
      .checklist .container .details-check .details h5 {
        font-size: 15px; }
      .checklist .container .details-check .details .fix {
        margin: 0 27px; }
    .checklist .container .details-check .cate {
      display: flex;
      margin-top: 20px; }
      .checklist .container .details-check .cate h5 {
        font-size: 15px; }
      .checklist .container .details-check .cate p {
        margin-left: 15px; }

@media screen and (max-width: 1100px) {
  .header .row {
    width: 100%; }
  .header .sale-testimonials-container {
    padding: 50px 20px; }
  .row {
    width: 85%; } }

@media screen and (max-width: 950px) {
  .header .row {
    width: 100%; }
  .header .sale-testimonials-container {
    padding: 50px 20px; }
  .row {
    width: 85%; } }

@media screen and (max-width: 1100px) {
  .row {
    width: 90%; } }
