* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  line-height: 1.4;
  letter-spacing: 1px;
  font-family: 'Work Sans', sans-serif;
  text-transform: capitalize;
  --light-sky:skyblue;
  --black-color: #000;
  --white-color: #fff;
  --orange-color: #ffa800;
  --background-color: #f6f6f8; }

.fa-bars {
  display: none; }

.row {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1070px; }

h1 {
  font-size: 65px; }

p {
  text-transform: none; }

li {
  list-style: none; }

a {
  text-decoration: none; }

span {
  color: var(--orange-color);
  font-size: 70px; }

.active {
  padding: 10px 15px;
  border: 1px solid var(--black-color);
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px; }

.btn {
  text-transform: capitalize;
  border: 0;
  outline: none;
  padding: 10px 20px;
  cursor: pointer; }

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px; }

.flex-center {
  display: flex;
  justify-content: center; }

.header {
  position: relative;
  height: 100vh; }
  .header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    height: 8vh;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1); }
    .header .nav .logo {
      font-size: 27px;
      font-weight: 700; }
    .header .nav ul a {
      margin: 0 10px;
      color: var(--black-color);
      padding: 10px 15px;
      border: 1px solid var(--white-color);
      transition: 200ms all ease-in-out;
      -webkit-transition: 200ms all ease-in-out;
      -moz-transition: 200ms all ease-in-out;
      -ms-transition: 200ms all ease-in-out;
      -o-transition: 200ms all ease-in-out; }
      .header .nav ul a:hover {
        border: 1px solid var(--black-color);
        border-radius: 13px;
        -webkit-border-radius: 13px;
        -moz-border-radius: 13px;
        -ms-border-radius: 13px;
        -o-border-radius: 13px; }
    .header .nav .top_icons i {
      margin: 0 10px;
      font-size: 25px;
      font-weight: 700;
      cursor: pointer; }
      .header .nav .top_icons i:hover {
        color: var(--light-sky); }
  .header .sale-testimonials-container {
    overflow: hidden;
    color: var(--secondary-color);
    padding: 50px 200px;
    height: 92vh;
    background-color: #f6f6f8; }
    .header .sale-testimonials-container .sale-testimonial-item {
      font-size: .95rem;
      align-items: center;
      margin: 2em 0;
      padding: 0 1em;
      color: var(--second-color); }
      .header .sale-testimonials-container .sale-testimonial-item .colletion {
        float: left;
        border-left: 5px solid var(--orange-color);
        margin-right: 40px;
        padding-left: 30px;
        width: 550px; }
        .header .sale-testimonials-container .sale-testimonial-item .colletion p {
          font-size: 20px;
          text-transform: uppercase; }
        .header .sale-testimonials-container .sale-testimonial-item .colletion a button {
          background: var(--black-color);
          font-size: 17px;
          border: 1px solid var(--black-color);
          color: var(--white-color);
          transition: 200ms background;
          -webkit-transition: 200ms background;
          -moz-transition: 200ms background;
          -ms-transition: 200ms background;
          -o-transition: 200ms background; }
          .header .sale-testimonials-container .sale-testimonial-item .colletion a button:hover {
            background: #f6f6f8;
            color: var(--black-color);
            border: 1px solid var(--black-color); }
      .header .sale-testimonials-container .sale-testimonial-item img {
        max-width: 350px;
        width: 100%; }
  .header .testimonial-switchs {
    position: absolute;
    top: 300px;
    right: 100px;
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
    .header .testimonial-switchs .sale-testimonial-switch {
      background-color: #000;
      border: none;
      cursor: pointer;
      height: 1.4rem;
      margin: .4rem .2rem;
      outline: none;
      width: .3rem; }
    .header .testimonial-switchs .active-carousel-switch {
      transform: scale(1.7);
      -webkit-transform: scale(1.7);
      -moz-transform: scale(1.7);
      -ms-transform: scale(1.7);
      -o-transform: scale(1.7); }

.offer-sells {
  padding: 50px 0; }
  .offer-sells .box-1 {
    padding: 20px;
    background-color: var(--background-color); }
    .offer-sells .box-1 .contents {
      margin-top: 12%;
      margin-left: 50px; }
      .offer-sells .box-1 .contents .btn {
        background-color: var(--black-color);
        color: var(--white-color);
        font-size: 17px;
        margin-top: 20px;
        border-radius: 100px;
        transition: 200ms all ease-in-out;
        -webkit-transition: 200ms all ease-in-out;
        -moz-transition: 200ms all ease-in-out;
        -ms-transition: 200ms all ease-in-out;
        -o-transition: 200ms all ease-in-out;
        border: 1px solid var(--black-color);
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px; }
        .offer-sells .box-1 .contents .btn:hover {
          background: transparent;
          color: var(--black-color);
          border: 1px solid var(--black-color); }
      .offer-sells .box-1 .contents p {
        font-size: 15px;
        opacity: .5; }
      .offer-sells .box-1 .contents h2 {
        font-size: 30px; }
    .offer-sells .box-1 img {
      width: 35%; }

.tranding {
  padding: 50px 0; }
  .tranding .heading {
    text-align: center;
    position: relative;
    background: var(--white-color); }
    .tranding .heading::after {
      content: " ";
      display: block;
      background: var(--black-color);
      width: 10%;
      height: 2px;
      position: absolute;
      left: 45%;
      bottom: 40%; }
    .tranding .heading h2 {
      font-size: 30px; }
    .tranding .heading p {
      font-size: 20px;
      font-style: italic;
      opacity: .7;
      font-family: serif;
      margin-top: 10px; }
  .tranding .main-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .tranding .main-carousel #wrapper {
      width: 100%;
      max-width: 1164px;
      position: relative;
      margin-top: 50px; }
      .tranding .main-carousel #wrapper #carousel {
        overflow: auto;
        scroll-behavior: smooth;
        overflow-x: hidden; }
        .tranding .main-carousel #wrapper #carousel #content {
          display: grid;
          grid-gap: 16px;
          grid-auto-flow: column;
          height: 450px;
          margin: auto;
          box-sizing: border-box; }
          .tranding .main-carousel #wrapper #carousel #content .item {
            width: 240px;
            height: 430px;
            box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2); }
            .tranding .main-carousel #wrapper #carousel #content .item img {
              height: 250px;
              padding-left: 30px;
              margin-top: 10px; }
            .tranding .main-carousel #wrapper #carousel #content .item .m-container {
              margin-top: 20px;
              padding-left: 10px; }
              .tranding .main-carousel #wrapper #carousel #content .item .m-container .m-content img {
                width: 100px;
                height: 25px;
                margin: 5px 0;
                padding-left: 0; }
              .tranding .main-carousel #wrapper #carousel #content .item .m-container .m-content h2 {
                font-size: 20px;
                margin-right: 10px;
                text-transform: uppercase; }
              .tranding .main-carousel #wrapper #carousel #content .item .m-container .m-content .price {
                display: flex; }
              .tranding .main-carousel #wrapper #carousel #content .item .m-container .m-content .btn {
                background: var(--black-color);
                color: var(--white-color);
                margin-top: 5px; }
      .tranding .main-carousel #wrapper::-webkit-scrollbar {
        height: 0; }
    .tranding .main-carousel #prev,
    .tranding .main-carousel #next {
      display: flex;
      justify-content: center;
      align-content: center;
      background: var(--white-color);
      border: none;
      padding: 10px;
      border-radius: 50%;
      outline: 0;
      cursor: pointer;
      position: absolute; }
    .tranding .main-carousel #prev {
      top: 50%;
      left: 0;
      transform: translate(50%, -50%);
      display: none; }
    .tranding .main-carousel #next {
      top: 50%;
      right: 0;
      transform: translate(-50%, -50%); }
